
---

import { supabase } from "../../lib/supabase.js";
import NotificationTable from "./NotificationTable.astro";
import Button from "../../componets/Button.astro";

// fetch the latest 7 announcements
const { data: notifications, error } = await supabase
  .from('notifications') // table name matches
  .select('search_id, title, date_onsite, url_slug')
  .order('date_onsite', { ascending: false })
  .limit(7);

// Server-side logging
console.log("Supabase error:", error);


const data = {
    sectionTitle : "Latest News & Announcements",
};
---
<section class="py-28 bg-gray-50">
  <div class="container mx-auto px-6 max-w-6xl">
    <h2 class="text-5xl md:text-6xl font-black text-center mb-16 text-gray-900">
        { data.sectionTitle }
    </h2>

    <NotificationTable notifications={notifications} />

    <div class="text-center mt-16">
        <Button href="/notifications/1" text="Read All Notifications" type="outlined" />
    </div>
  </div>
</section>

