
---
import { supabase } from "../../lib/supabase.js";

import NotificationTable from "./NotificationTable.astro";
import Button from "../../componets/Button.astro";
import NotFound from "../../componets/NotFound.astro";


const staticData = {
sectionTitle : "Latest News & Announcements",
}


let notifications = [];
let fetchError = null;
const { data, error } = await supabase
.from('notifications') 
.select('search_id, title, date_onsite, url_slug')
.order('search_id', { ascending: true})
.limit(7);

if (error) {
fetchError= error;
console.error("[supabase]: notifications fetch failed!", {
message: error.message,
details: error.details,
hint: error.hint,
});
} else {
notifications = data ?? [];
}



---
<section class="py-28 bg-gray-50">
    <div class="container mx-auto px-6 max-w-6xl">
        <h2 class="text-5xl md:text-6xl font-black text-center mb-16 text-gray-900">
            { staticData.sectionTitle }
        </h2>

        {fetchError && (
        <NotFound 
        data={{
        title: "Error",
        quote: "Unable to load announcements",
        translation: "There was an issue fetching the latest notifications. Please try again later."
        }} 
        /> )}


        {!fetchError && notifications.length === 0 && (
        <NotFound 
        data={{
        title: "No Announcements",
        quote: "Nothing new here",
        translation: "There are currently no announcements to display. Please check back later."
        }} 
        />
        )}

        {!fetchError && notifications.length > 0 && (
        <NotificationTable notifications={notifications} />
        )}






        <div class="text-center mt-16">
            {!fetchError && notifications.length > 0 && (
            <div class="text-center mt-16">
                <Button href="/notifications/1" text="Read All Notifications" type="outlined" />
            </div>
            )}
        </div>
    </div>
</section>

