---
import Button from "../../componets/Button.astro"
const { notifications } = Astro.props;
---

<table class="w-full text-left border-collapse bg-white rounded-md shadow-sm divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th class="px-4 py-2 text-gray-400 text-sm uppercase tracking-wider font-medium">
        Date
      </th>
      <th class="px-4 py-2 text-gray-400 text-sm uppercase tracking-wider font-medium">
        Title
      </th>
      <th class="px-4 py-2 text-gray-400 text-sm uppercase tracking-wider font-medium ">
        Link
      </th>
    </tr>
  </thead>
  <tbody>
    {notifications?.map((item) => (
      <tr class="hover:bg-gray-50 transition-colors duration-150">
        <td class="px-4 py-3 text-gray-600 text-sm md:text-base">
          {new Date(item.date_onsite).toLocaleDateString("en-US", { day: "numeric", month: "short", year: "numeric" })}
        </td>
        <td class="px-4 py-3 text-gray-800 font-medium text-sm md:text-base">
          {item.title}
        </td>
        <td class="px-4 py-3 text-gray-500 text-sm md:text-base">

        <Button href={`/notification/${item.url_slug}`} text="View" type="secondary" />
        </td>
      </tr>
    ))}
  </tbody>
</table>

