---
import { supabase } from "../lib/supabase.js";
import NotificationCard from "../componets/pageNotification/NotificationCard.astro";
import BaseLayout from "../layout/BaseLayout.astro"

const { data: announcements} = await supabase
.from('anouncements')
.select('*')
.order('date_onsite', { ascending: false });

---


<BaseLayout>

    <main class="pt-24 pb-16 bg-linear-to-b from-gray-50 to-white min-h-screen">
        <div class="max-w-7xl mx-auto px-6 text-center">
            <h1 class="text-5xl md:text-6xl font-bold">Latest News & Announcements</h1>
            <p class="text-xl text-gray-600 mt-4">Stay updated with Darul Uloom Bilaliya</p>

            {announcements && announcements.length > 0 ? (
            <div class="grid gap-8 mt-12 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                {announcements.map(a => <NotificationCard announcement={a} />)}
            </div>
            ) : (
            <p class="text-gray-500 mt-12 text-lg">No announcements found.</p>
            )}


        </div>

    </main>

</BaseLayout>
