---
const noteData = {
heading: "Built with Barakah & Excellence",
subHeading: "Established 1991",
};

---

<div class="text-center px-6 sm:px-12 mt-12 border-t border-gray-200 pt-6 text-gray-500 text-xs sm:text-sm tracking-widest ">
    <p class="text-gray-400 text-sm tracking-widest uppercase">
    { noteData.heading }
    </p>
    <p class="mt-2 text-gray-500 italic text-sm">
    { noteData.subHeading }
    </p>
</div>


