---
export const prerender = false;

import { supabase } from "../../lib/supabase.js";
import NotificationCard from "../../componets/pageNotification/NotificationCard.astro";
import BaseLayout from "../../layout/BaseLayout.astro";
import Pagination from "../../componets/Pagination.astro";


const itemsPerPage = 3;

// Get current page from the route param
const page = parseInt(Astro.params.notificationpage) || 1;

// Fetch total count for pagination
const { count } = await supabase
.from("notifications")
.select("*", { count: "exact", head: true });

const totalPages = Math.ceil(count / itemsPerPage);
const start = (page - 1) * itemsPerPage;
const end = start + itemsPerPage - 1;

// Fetch notifications for current page
const { data: notifications } = await supabase
.from("notifications")
.select("*")
.order("search_id", { ascending: true })
.range(start, end);


const pageData = {
    heading: "Notifications & Announcements",
    subHeading: "Stay updated with Darul Uloom bilalia",
};
---

<BaseLayout>

    <main class="pt-48 pb-16 bg-linear-to-b from-gray-50 to-white min-h-screen">
        <div class="max-w-7xl mx-auto px-6 text-center">
            <h1 class="text-5xl md:text-6xl font-bold">{ pageData.heading}</h1>
            <p class="text-xl text-gray-600 mt-4">{pageData.subHeading}</p>

            <div class="grid gap-8 mt-12 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                {notifications && notifications.length > 0
                ? notifications.map((n) => <NotificationCard notification={n} path="notification"/>)
                : <p class="text-gray-500 mt-12 text-lg bg-red-300 ">Notifications not loaded.</p>}
            </div>

            <!-- Pagination -->
             <Pagination totalPages={totalPages} currentPage={page} baseUrl="/notifications" />

        </div>

    </main>

</BaseLayout>
