---
import Buttons from "../Buttons.astro";
const { notifications } = Astro.props;
---

<div class="bg-white rounded-3xl border border-gray-200 overflow-hidden">
  <table class="w-full table-auto">
    <thead class="bg-gray-100">
      <tr class="text-left font-semibold text-gray-800">
        <th class="py-5 px-6 text-lg">Notifications</th>
        <th class="py-5 px-6 w-40 text-right text-lg">Dated</th>
      </tr>
    </thead>

    <tbody>
      {notifications && notifications.length > 0 ? (
        notifications.map((n) => (
          <tr class="group border-b border-gray-200 hover:bg-gray-100 cursor-pointer">

            {/* Title */}
            <td class="py-4 px-4 text-base font-bold text-gray-900">
              <a href={`/notification/${n.search_id}`} class="hover:underline">{n.title}</a>
            </td>

            {/* Date + Action */}
            <td class="py-4 px-4 text-right">
              {/* Flex container for responsive layout */}
              <div class="flex flex-col sm:flex-row sm:items-center sm:justify-end gap-2 sm:gap-4">

                {/* Date */}
                <time class="text-sm font-semibold text-green-700 sm:mr-4">{new Date(n.date_onsite).toLocaleDateString()}</time>

                {/* Button */}
                <Buttons href={`/notification/${n.search_id}`} text="Read" type="outlined"/>
              </div>
            </td>

          </tr>
        ))
      ) : (
        <tr>
          <td colspan="2" class="text-center py-6 text-gray-400">
            Notifications not loaded
          </td>
        </tr>
      )}
    </tbody>
  </table>
</div>

